{{>partials/header}}

<div class="container list">
</div>

<div class = "container no-list e-404">
    <h2>Página não encontrada!</h2>
    <img class="error-404" src="images/404-error.png"/>
</div>

{{>partials/footer}}